@import "../../vars";

.menu {
  &__list {
    list-style: none;
    display: flex;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  &__link {
    position: relative;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: $light;
    text-transform: capitalize;

    &::after {
      position: absolute;
      content: "";
      width: 0;
      left: 0;
      bottom: -3px;
      height: 3px;
      background-color: $secondary-color;
      transition: 0.5s;
    }

    &:hover::after {
      width: 100%;
    }

    &--active {
      border-bottom: 3px solid $third-color;
    }
  }
}
