@import "../../vars";
@import "../../media";

.topBar {
  position: fixed;
  width: 100%;
  background: $dark;

  z-index: 1;

  &__inner {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    color: $light;

    @include media(350) {
      font-size: 25px;
    }

    span {
      font-size: 33px;
      font-weight: 500;
      color: $secondary-color;

      @include media(350) {
        font-size: 25px;
      }
    }
  }

  &__contact {
    height: 100%;
    margin-top: -3px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    background-color: $dark;
    color: $secondary-color;

    @include media(770) {
      left: 12px;
      order: -1;
    }
  }

  &__wrapper {
    position: relative;
  }

  .menu {
    &__btn {
      display: none;
      border: none;
      background: transparent;
      cursor: pointer;

      @include media(770) {
        display: block;
      }
      &-icon {
        font-size: 40px;
        color: $secondary-color;
      }
    }
  }
}
