@import "../../vars";
@import "../../media";

.portfolio {
  padding-top: 100px;
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;

    @include media(1100) {
      flex-direction: column;
    }
  }

  @include media(950) {
    padding-top: 50px;
  }

  h2 {
    position: absolute;
    transform: rotate(-90deg) translateY(-160px);
    left: 0;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    color: $dark;

    @include media(1100) {
      position: relative;
      transform: rotate(0) translateY(0);
    }

    @include media(630) {
      letter-spacing: 5px;
    }
  }

  &__right {
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    @include media(1100) {
      margin-right: 0;
    }
  }

  &__category {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;

    @include media(608) {
      flex-direction: column;
    }
  }

  &__list {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__works {
    margin-top: 30px;
    margin-right: -100px;
    width: 800px;
    display: flex;
    align-items: center;
    position: relative;

    @include media(950) {
      width: 600px;
      margin-left: 5vw;
      margin-top: 0;
    }

    @include media(608) {
      margin-left: 0;
    }

    &__slider {
      height: 400px;
      display: flex;
      transition: all 1s ease-out;

      @include media(630) {
        height: 350px;
      }
    }

    &__slider-inner {
      width: 100vw;
    }

    &__slider-item {
      height: 100%;
      width: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include media(950) {
        width: 500px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
        background: $accent-color;
        width: 80%;
        text-align: center;
        padding: 15px 5px;
        opacity: 0;
        transition: all 0.4s ease;
        color: $light;
      }

      &:hover h3 {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;

        @include media(950) {
          height: 250px;
        }

        @include media(530) {
          width: 95vw;
          height: auto;
        }
      }
    }

    &__slider-btn {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 175px;
      border: none;
      background-color: $secondary-color;
      padding: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.4s;

      @include media(725) {
        top: 350px;
      }

      .portfolio__works__slider-arrow {
        width: 100%;
        height: 100%;
        color: $light;
      }

      &-prev {
        left: -100px;
        .portfolio__works__slider-arrow {
          margin-left: 8px;
        }

        @include media(725) {
          left: 190px;
        }
      }

      &-next {
        right: 0;
        .portfolio__works__slider-arrow {
          margin-left: 4px;
        }

        @include media(725) {
          right: 290px;
        }
      }

      &:hover {
        background-color: $accent-color;
      }
    }
  }
}
