@import "../../vars";
@import "../../media";

.skills {
  padding: 20px 0 40px 0;
  text-align: center;

  h2 {
    padding-top: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 50px;
    color: $dark;
    left: 0;
  }

  &__slider {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 400px;

    @include media(1146) {
      max-width: 600px;
    }

    @include media(630) {
      max-width: 500px;
    }

    @include media(520) {
      width: 100%;
      height: auto;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: $light;
      width: 2000px;
      height: 110%;
      top: -5%;
      right: -1910px;
      z-index: -1;

      @include media(520) {
        width: 0;
      }
    }

    &::before {
      position: absolute;
      content: "";
      background-color: $light;
      width: 2000px;
      height: 110%;
      top: -5%;
      left: -1910px;
      z-index: -1;

      @include media(520) {
        width: 0;
      }
    }

    &-inner {
      position: relative;
      width: 800px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      z-index: -2;
      transition: all 1s ease;

      @include media(1146) {
        max-width: 400px;
      }

      // @include media(520) {
      //   width: 100%;
      // }

      @include media(420) {
        margin-left: -6%;
      }

      @include media(400) {
        margin-left: -8%;
      }

      @include media(380) {
        margin-left: -10%;
      }

      @include media(360) {
        margin-left: -14%;
      }

      @include media(340) {
        margin-left: -17%;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      box-shadow: $dark 5px 5px 10px 1px;
      border-radius: 5px;
      margin: 0 30px;

      @include media(630) {
        box-shadow: none;
      }

      // @include media(520) {
      //   margin: 0 10px;
      // }

      // @include media(420) {
      //   margin: 0 29px;
      // }

      h3 {
        width: 350px;
        font-size: 30px;
        font-weight: 400;
        color: $dark;
        margin-bottom: 5px;

        @include media(420) {
          // width: 100%;
        }
      }

      img {
        margin: 0 auto;
        width: 60%;
        object-fit: cover;
      }

      p {
        padding: 0 50px;
      }
    }
  }

  &__slider-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 175px;
    border: none;
    background-color: $secondary-color;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;

    .skills__slider-arrow {
      width: 100%;
      height: 100%;
      color: $light;
    }

    &-prev {
      left: 0;
      .skills__slider-arrow {
        margin-left: 8px;
      }

      @include media(660) {
        left: 40px;
      }
    }

    &-next {
      right: 0;
      .skills__slider-arrow {
        margin-left: 4px;
      }

      @include media(660) {
        right: 40px;
      }
    }

    &:hover {
      background-color: $accent-color;
    }
  }
}
