@import "../../vars";

.contact {
  position: absolute;
  right: 20px;
  top: 55px;
  transform: translateY(-50vh);
  max-height: 0;
  display: flex;
  flex-direction: column;
  transition: all 2s ease;
  z-index: -1;

  &__item {
    color: $secondary-color;
  }

  &--active {
    transform: translateY(0);
  }
}
