@import "../../vars";
@import "../../media";

.intro {
  height: 100vh;
  background: $dark;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(../../assets/images/intro.png) no-repeat;
    background-size: contain;
    background-position: 80% 0;

    @include media(770) {
      background-size: cover;
    }
  }

  &__title {
    margin: 0;
    right: 20px;
    padding-top: 150px;
    font-size: 50px;
    color: $light;

    @include media(400) {
      padding-top: 50px;
    }

    span {
      color: $secondary-color;
    }
  }

  h2 {
    font-size: 45px;
    color: $accent-color;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 70px;
    height: 70px;
    margin-left: 30%;
    border-radius: 50%;
    background-color: $accent-color;
    animation: blink 3s infinite ease;

    .intro__icon {
      color: $light;
      font-size: 5rem;
    }
  }
}

@keyframes blink {
  50% {
    background-color: $secondary-color;
  }

  100% {
    background-color: $accent-color;
  }
}
